parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method object\:\:create\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Controller/ProductVariantAttributeController.php

		-
			message: '#^Call to an undefined method object\:\:getDefinedLocalesCodes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/ProductVariantAttributeController.php

		-
			message: '#^Cannot call method createView\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Controller/ProductVariantAttributeController.php

		-
			message: '#^Cannot call method getData\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Controller/ProductVariantAttributeController.php

		-
			message: '#^Cannot call method handleRequest\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Controller/ProductVariantAttributeController.php

		-
			message: '#^Parameter \#1 \$view of method Sylius\\Bundle\\ResourceBundle\\Controller\\ResourceController\:\:render\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/ProductVariantAttributeController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method booleanNode\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method cannotBeEmpty\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method defaultTrue\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method defaultValue\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method end\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method info\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method scalarNode\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Parameter \#1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension\:\:processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/DependencyInjection/UmanitSyliusProductVariantAttributeExtension.php

		-
			message: '#^Parameter \#2 \$value of method Symfony\\Component\\DependencyInjection\\Container\:\:setParameter\(\) expects array\|bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/DependencyInjection/UmanitSyliusProductVariantAttributeExtension.php

		-
			message: '#^Parameter \#1 \$array of function array_diff expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Event/Listener/SelectProductVariantAttributeChoiceRemoveListener.php

		-
			message: '''
				#^Parameter \$event of method Umanit\\SyliusProductVariantAttributePlugin\\Event\\Listener\\SelectProductVariantAttributeChoiceRemoveListener\:\:postUpdate\(\) has typehint with deprecated class Doctrine\\ORM\\Event\\LifecycleEventArgs\:
				This class will be removed in ORM 3\.0\. Use one of the dedicated classes instead\.$#
			'''
			identifier: parameter.deprecatedClass
			count: 1
			path: src/Event/Listener/SelectProductVariantAttributeChoiceRemoveListener.php

		-
			message: '#^Property Umanit\\SyliusProductVariantAttributePlugin\\Event\\Listener\\SelectProductVariantAttributeChoiceRemoveListener\:\:\$productVariantAttributeValueClass \(class\-string\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Event/Listener/SelectProductVariantAttributeChoiceRemoveListener.php

		-
			message: '#^Parameter \#1 \$p of method Doctrine\\Common\\Collections\\Collection\<\(int\|string\),Sylius\\Component\\Attribute\\Model\\AttributeValueInterface\>\:\:filter\(\) expects Closure\(Sylius\\Component\\Attribute\\Model\\AttributeValueInterface\)\: bool, Closure\(Umanit\\SyliusProductVariantAttributePlugin\\Entity\\ProductVariantAttributeValueInterface\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/EventSubscriber/BuildAttributesFormSubscriber.php

		-
			message: '#^Cannot call method getCode\(\) on Sylius\\Component\\Attribute\\Model\\AttributeInterface\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Application/src/Entity/Product/ProductVariant.php


